<footer class="container-fluid">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3">
            <h5>About Us</h5>
            <a href="#">How it started</a><br>
            <a href="#">Creative Livon</a><br>
            <a href="#">Our core values and beliefs</a>
        </div>
        <div class="col-3">
            <h5>Contact Us</h5>
            <p> Phone : +976 88608866 <br>
                E-commerce : uugii.livon.bh@gmail.com <br>
                General : Livon.brand@gmail.com
                </p>
        </div>
        <div class="col-3">
            <h5>Location & Working Hours</h5>
            <p>
                Monday - Friday 09:00 - 18:00 <br>
                Ulaanbaatar, Mongolia <br>
                A/33, 16th street, Chingeltei district, <br>
            </p>
        </div>
        
        
    </div>
</footer>