<header>
    <div class="collapse dropdown menubtn dropdown"><img class="menuicon" style="height: 35px; margin-right: 5px;" src="src/menu.png">MENU
        <div class="dropdown-content"></div>
    </div>
        <img class="logoicon"  src="src/Livon1.jpg" alt="Livon logo">
</header>   
<nav class="col-10 mx-auto navbar navbar-lg-expand navbar-light">
    <a class="hlink" href="Livon">Livon</a>
    <!-- <a class="hlink" href="ForHer">For Her</a>
    <a class="hlink" href="forhim">For Him</a> -->
    <!-- <a class="hlink" href="IO">Individual order</a> -->
    <a class="hlink" href="Pcg">Product care guide</a>
    <!-- <a class="hlink" href="About">About</a> -->
    <a class="hlink" href="Login">Login</a>
    <a class="hlink" href="Register">Register</a>

</nav>