<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8"/>
        <title>Livon</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="css/Desktop.css">
        <!-- <link rel="stylesheet" href="css/Tab.css">
        <link rel="stylesheet" href="css/MobileL.css">
        <link rel="stylesheet" href="css/MobileS.css"> -->
    </head>
    <%- include("partials/headernav.ejs") %>
    <body>
        
        <div class="tanil">
            <p>LIVON нь 2015 онд үүссэн ба тасралтгүй дөрвөн жил арьс ширэн бүтээгдэхүүн, уран бүтээлч байдлаар, цөөн тоогоор, захиалгаар урлаж ирсэн билээ. 2016 оноос эхлэн “Креатив ливон” ххк
            болж албан ёсоор үйл ажиллагаагаа явуулж Монголдоо төдийгүй хилийн чанадад бүтээгдэхүүн  үйлчилгээгээ хүргэж байна. Бид хэрэглэгчдээ ойлгож тэдний онцлог, хэв маяг, мэргэжил, орчин үеийн хэрэгцээнд тохирсон арьсан бүтээгдэхүүнүүдээ дөрвөн жилийн туршлага, чанар, дизайны хамтаар хэрэглэгчидтэйгээ харилцах найрсаг, нөхөрсөг харилцаагаар дамжуулан хүргэж байна. 
            Цаашлаад хэрэглэгч нэг бүртэй байнгын харилцаа тогтоож, бүтээгдэхүүнийхээ арчилгаа, цэвэрлэгээ, шинэ загварын танилцуулга гэх мэт үйл ажиллагаануудаар дамжуулж уулзалт урамшуулал үзүүлэх зорилготой ажилладаг.
            </p><br>
            
            <h5 style="font-weight: bolder;">ХЭРЭГЛЭЭ БОЛ УРЛАГ ЮМ.</h5><br>
            <p>
                Гоо сайхан ба төгс төгөлдөрийн нэг хэсэг  нь дизайн юм. Дизайн нь зөвхөн харагдах байдал, хэрэглээ бус хүний мэдрэмжд нөлөөлөх боломжтой билээ. Хэрэглээ болон харагдах байдлаас хальсан дизайнаар дамжуулан  таны дотоод ертөнцийг илэрхийлэх, хувийн гоёл, өнгө төрх нь болоход  бидний гол зорилго оршино.
            </p><br>
            <p>
                Ливончуудын хувьд харилцагчийн хүссэн загварыг бүтээлчээр туйрадаг билээ.
                Ливоны хувьд бүтээлч хандлага бол хамгийн чухал зүйл юм. Бид хэрэглэгчийн санааг эскиз зураг гаргаж, 3-н хэмжээст ажлын зураг, бүтээгдэхүүний зохион бүтээлтээс эхлээд хэрэглэгчийн гарт хүртэлх бүхий л үйл явцыг тооцооллож, шинэ санаа, бүтээлж байдлаар туурвиж чадна гэдэгт итгэдэг.
            </p><br>
            <h5 style="font-weight: bolder;">Бид юу хийдэг вэ?</h5><br>
            <p>
                Монгол улсад байрладаг орчин үеийн арьсан эдлэл үйлдвэрлэдэг дизайны студи юм. Бид чанрыг эрхэмлэж, органик материалаар, Уламжлалт арга барлыг орчин үеийн технологитой уялдуулж, загвар зохион бүтээх өвөрмөц аргаар өнгөрсөн ба өнөө үеийг уялдуулан, хэрэглэгч нарт үнэ цэнэ, урам зориг өгөх зорилгоор бүтээгдэхүүн үйлдвэрлэдэг. 
            </p><br>
            <h5 style="font-weight: bolder;">Бид юунд итгэдэг вэ?</h5><br>
            <p>
                Бидний үйлдвэрлэсэн бүтээгдэхүүн бүр хэрэглэгч нарын минь 
                Бид орчин үеийн загвар, дизайн, технологийн хөгжилтэй зэрэгцэн бүтээгдэхүүнээ хөгжүүлж хэрэглэгч нартаа ёс зүйтэй ил тод үйлчилгээ хүргэхийг эрхэмэлдэг. Бидний бүтээгдэхүүн үйлчилгээ хэрэглэгч таны хүсэл шаардлаганд нийцэж гэмээн бидэнд цаашид ажиллах урам зориг, итгэл үнэмшил, баяр баяслыг өгдөг юм. 
            </p><br>

            </div>
            
    </body>
    <%- include("partials/footer.ejs") %>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script>
    </script>
</html>
<style>
.tanil {
    font-family: Lato, sans-serif;
    color: rgb(54, 54, 54);
    margin: 5% 20%;
}
</style>