body {
  font-family: "Bebas Neue", cursive;
}
.flex-container-navbar {
  align-content: center;
}

.logobtn {
  height: 70px;
  width: 70px;
  background-color: white;
  border: none;
  font-size: 17px;
  margin-right: auto;
  margin-left: 20%;
}
.logoicon {
  height: 70px;
  width: 70px;
  background-color: aliceblue;
}
.searchicon {
  height: 18px;
}
.searchbtn {
  height: 30px;
  border: none;
  background-color: white;
  margin-left: 25px;
}
.phoneicon {
  height: 18px;
}
.phonebtn {
  height: 30px;
  margin-left: 40px;
  border: none;
  background-color: white;
}
.favicon {
  height: 21px;
}
.favbtn {
  height: 30px;
  margin-left: 40px;
  border: none;
  background-color: white;
}
.carticon {
  height: 26px;
}
.cartbtn {
  height: 30px;
  margin-left: 40px;
  border: none;
  background-color: white;
}
.flex-container {
  margin: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.prodtypes {
  margin: 3% 5%;
}
td {
  width: 25%;
  padding: 20px;
}
.hlink {
  text-decoration: none;
  color: rgb(204, 155, 31);
  font-size: 20px;
  font-weight: 100;
}
a:hover {
  color: goldenrod;
}
.mySlides {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 100% 50%;
}
.tanil {
  font-family: Arial, Helvetica, sans-serif;
  margin: 30px 0 0 0;
  text-align: center;
}
